@import "_vars"

/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
  /*-----
    Header
   -----*/
  .header__phone
    font-size: 1rem
  .header__top-line-left
    width: 400px
  .header__wrap-menu
    max-width: 330px
  .header__cart
    margin-left: 20px 
  
  /*------
    Listing
   --------*/
  .listing
    .col-lg-3
      padding-left: 6px
      padding-right: 6px

// ≥992px
+media-breakpoint-down(md)
  body
    padding-top: 50px
  /*-----
    Header
   -----*/
  .header
    box-shadow: 0 2px 15px rgba(000,000,000,.05)
  .header__cart
    display: none
  .header__info
    display: none
  .header__top-line-right
    width: 35px
    max-width: inherit
  
  .header__top-line-left
    max-width: 83%
  .header__logo
    margin-right: 20px
  .header__wrap-menu
    overflow-x: auto
  .header__menu
    width: 310px
    flex-shrink: 0
  .header__top-line-inner
    height: 50px
    padding: 7px 0
  .header__btn-coll
    display: flex

  /*-----
    Section main banner
   ------*/
  
  /*-----
    Section about-us
   -------*/
  .about-us__img
    margin-bottom: 30px
    img
      margin: 0 auto

  .primary-btn
    margin: 0 auto
    &:active
      box-shadow: 0 4px 10px $accent

  /* -------
   Rewiews
   ------- */
  .rewiews__list
    flex-wrap: wrap

  .rewiews__item
    width: 50%

  /* ----------
   Main slider
   -----------*/
  .main-slider__nav
    overflow-y: auto
    margin: 0
  
  .main-slider__item
    margin-bottom: 40px
  

// ≥768px
+media-breakpoint-down(sm)
  // html
  //   font-size: 16px
  /*-----
    Section main banner
    ------*/
  .main-banner__list-adv
    flex-wrap: wrap
  .main-banner__item-adv:not(:last-child)
    margin-bottom: 20px
  /*-------
    Listing
   -------*/
  .card
    display: flex
  .card__body
    padding: 5px 
    align-items: flex-start
  .card__prod-img
    margin: 0
  .card__head
    width: 40%
  .card__body
    width: 60%
  %list-align
    max-width: inherit
    width: 100%
    margin-bottom: 10px
  
  /*-----
    Section about-us
   -------*/
  .primary-btn
    width: 100%
    padding: 10px 0
  
  /* ----------
   Main slider
   -----------*/

  .main-slider__desc-prod
    width: 50%
    padding-left: 15px
  
  .main-slider__img-prod
    width: 50%

  .main-slider__name-prod
    font-size: 1.1rem

  .main-slider__compos-prod
    font-size: .9rem
    margin-bottom: 20px
  
  .main-slider__order-btn
    margin: 0
    font-size: 14px
    padding: 8px 0
    max-width: 200px

  /* --------------------
   Section popular goods
   -------------------- */ 
  .pop-gds__item
    flex-direction: row

  .pop-gds__item-top
    width: 40%
  
  .pop-gds__item-body
    width: 60%
    align-items: flex-start
    padding: 10px 10px 10px 20px

  /* -----------
   Main Footer
   ------------*/
  .main-footer__info-link
    align-items: center
    flex-direction: column

  .main-footer__logo
    margin: 0 auto 15px

  .main-footer__info-link
    margin-bottom: 15px

  /* ----------
   Page cart
   ---------*/
  .cart__item
    flex-wrap: wrap
    align-content: center
  
  .cart__item-left
    order: 0
    width: 80%

  .cart__item-mid
    order: 2
    width: 100%
    margin-top: 15px
    justify-content: space-between

  .card__item-right
    order: 1
    width: 20%
    display: flex
    align-self: flex-start
    justify-content: flex-end

  .cart__item-count
    margin: 0

// ≥576px
+media-breakpoint-down(xs)
  /*-------
    Listing
   -------*/
  .card__prod-cart-btn
    width: 95px

  /*-----
   Delivery product
   -----*/
  .deliver-prod__item
    height: 280px

  /* -------
   Rewiews
   ------- */
  .rewiews__item
    width: 100%

  /* ----------
   Main slider
   -----------*/
  .main-slider__desc-prod
    width: 60%

  .main-slider__img-prod
    width: 40%

  .main-slider__item 
    padding: 0  

 

  
/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)
  /* -----
    Main-style
   ------*/
  .primary-btn
    &:hover
      box-shadow: 0 4px 10px $accent


// ≤1200px
+media-breakpoint-up(xl)
